.hero{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 50px;
}

.hero-text{
    width: 50%;
    padding-right: 50px;
    line-height:1.3;
    


}

.hero-image{
    width: 50%;

}

.fireImage{
    width: 4%;
    padding-left: 6px;
}