
.collage{
    display: flex;
    flex-direction: row;
}

.userImg1{
    height: 50px;
    border-radius: 100%;
    /* z-index: -1; */
    
}

.userImg2{
    position: relative;
    height: 50px;
    border-radius: 100%;
    left: -20px; 
}

.userImg3{
    position: relative;
    height: 50px;
    border-radius: 100%;
    left: -40px; 
}

.userImg4{
    position: relative;
    height: 50px;
    border-radius: 100%;
    left: -60px; 
}

.collageText{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 100px;
}