.footer{
    background-color: #0D9276;
    color: white;
}

.fullgrid{
    padding: 10px 50px;
}

.grid1{


}

.grid2{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    

}

.logos{
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    
}

.image{
    width: 40px;
    height: 40px;
}